<!DOCTYPE html>
<html lng="en">
<head>
  <title>Bootstrap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light">
  <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar10">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar10">
  <ul class="navbar-nav nav-fill w-100">
    <li class="nav-item">
      <a class="nav-link">BOOSTED</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Boards</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Scooter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Accessories</a>
      <li class="nav-item">
      <a class="nav-link" href="#">Community</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Support</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Why Boosted</a>
    </li>
    <li class="nav"><a class="nav-link" href="#">
      <img src="/assets/download.png" width="30" height="30" alt="">
      </a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#">
      <i class="fa fa-shopping-cart"></i>
    </a>
    </li>
  </ul>
</nav>
    </ul>
  </div>
</div>
</nav> 
<div class="home-video-wrapper">
<%= video_tag(["website_loop-720-vbr-2-10.mp4"], :size => "1281 x 1216", :autoplay => true, :loop => true, class: "home_video") %>
  <div class="text1">
    <h4>YOUR VEHICLE-GRADE SCOOTER IS HERE</h4>
    <p><strong>Introducing Boosted-Rev</strong></p>
     <button class="home">Reserve Now</button></a>
  </div>
</div>

<br/>
<div class="block" style="background-color: #f5f5f5;">
      <img style="margin: 0px 63px 30.08px" class="auto" src="/assets/image3.jpg" width="966" height="619" alt="" hspace="20" >
    </br>
      <p class="text" style="margin: 0px 63px">We create vehicles for every type of rider. Check out our product <br/>family and choose which one is perfect for you.</p>
      <button class="button" style="align-self:center; " class="btn btn-warning">Meet the family</button>
        <br/>
<br/>
</div>

<div class="blockk" style="margin: 0 auto">
<img class="auto1" src="/assets/quiz.jpg" alt="boosted" height= "248.08" width= "777.19">
<div class="blackbg" align="center">
<h3>Which vehicle is<br/> right for you?</h3>
  <button class="button1"><strong>Take Quiz</strong></button>
</div>

</div>

<br/>
<br/>
<br/>

<div class="block1" style="padding-left: 20px;">
  <img class="auto2" src="/assets/image4.jpg" width="720" height="642" alt="" hspace="20" >
  <h1 class="heading" style="text-align: center;"><strong>Why Boosted is the best way to get around</strong></h1>
   <h4 style="text-align: left;"><strong>Everything you hate about commuting. Solved.</strong></h4>
   <p style="text-align: left;">Say goodbye to traffic, delays, and uncertainty. With a lightweight electric vehicle, you can hop in the bike lane and on local streets and get wherever you need to go faster than ever before. Designed with portability and stowability in mind, these vehicles provide ultimate versatility in urban, suburban, and campus environments.</p>
 <h4 style="text-align: left;"><strong>Always there. Always on time.</strong></h4>
   <p style="text-align: left;">Get there on your schedule without the anxiety. When expensive app rides keep you waiting, your personal electric vehicle is as easy as drop and go. And while the average spend on rideshare is $22 per ride, and scooter share is nearly $4 per ride, you can own a Boosted vehicle for as little as $2 per day.</p>
    <h4 style="text-align: left;"><strong>The best you can get.</strong></h4>
   <p style="text-align: left;">At Boosted, we build vehicles, not toys. Our proprietary powertrain delivers signature Boosted performance with instant acceleration and confidence-inspiring braking. From our vehicle-grade materials, to our unbeatable quality and reliability, to our intuitive design, you’ll feel the difference.</p>
</div>

<br>
<div class="container text-center my-3" style="background-color: #f5f5f5">
    <div class="row mx-auto my-auto">
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
              <div class="carousel-item active">
                    <div class="col-md-4">
                      <div class="feedback">
                        <h4 style="text-align: left;"><strong>Leslie M.</strong></h4>
                        <p style="float: right; text-align: right; font: 14.08px 'auminu-pro'">11/26/2018</p>
                        <p style="float: left; color: #B4B4B4; font-size: 14.08px">Houston, TX</p><br/>
                        <br/><div class="stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <br/>
                        <h3 style="text-align: left"><strong>DO NOT HESITATE</strong></h3>
                        <p style="text-align: left">Thought the learning curve would be tough.You can limit it and will be comfortable in only a few miles.Just get it! This thing is incredible. I'll be riding around on these for a lifetime.</p>
                      </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                         <div class="feedback">
                        <h4 style="text-align: left;"><strong>Leslie M.</strong></h4>
                        <p style="float: right; text-align: right; font: 14.08px 'auminu-pro'">11/26/2018</p>
                        <p style="float: left; color: #B4B4B4; font-size: 14.08px">Houston, TX</p><br/>
                        <br/><div class="stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <br/>
                        <h3 style="text-align: left"><strong>DO NOT HESITATE</strong></h3>
                        <p style="text-align: left">Thought the learning curve would be tough.You can limit it and will be comfortable in only a few miles.Just get it! This thing is incredible. I'll be riding around on these for a lifetime.</p>
                      </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                           <div class="feedback">
                        <h4 style="text-align: left;"><strong>Leslie M.</strong></h4>
                        <p style="float: right; text-align: right; font: 14.08px 'auminu-pro'">11/26/2018</p>
                        <p style="float: left; color: #B4B4B4; font-size: 14.08px">Houston, TX</p><br/>
                        <br/><div class="stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <br/>
                        <h3 style="text-align: left"><strong>DO NOT HESITATE</strong></h3>
                        <p style="text-align: left">Thought the learning curve would be tough.You can limit it and will be comfortable in only a few miles.Just get it! This thing is incredible. I'll be riding around on these for a lifetime.</p>
                      </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                           <div class="feedback">
                        <h4 style="text-align: left;"><strong>Leslie M.</strong></h4>
                        <p style="float: right; text-align: right; font: 14.08px 'auminu-pro'">11/26/2018</p>
                        <p style="float: left; color: #B4B4B4; font-size: 14.08px">Houston, TX</p><br/>
                        <br/><div class="stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <br/>
                        <h3 style="text-align: left"><strong>DO NOT HESITATE</strong></h3>
                        <p style="text-align: left">Thought the learning curve would be tough.You can limit it and will be comfortable in only a few miles.Just get it! This thing is incredible. I'll be riding around on these for a lifetime.</p>
                      </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                           <div class="feedback">
                        <h4 style="text-align: left;"><strong>Leslie M.</strong></h4>
                        <p style="float: right; text-align: right; font: 14.08px 'auminu-pro'">11/26/2018</p>
                        <p style="float: left; color: #B4B4B4; font-size: 14.08px">Houston, TX</p><br/>
                        <br/><div class="stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <br/>
                        <h3 style="text-align: left"><strong>DO NOT HESITATE</strong></h3>
                        <p style="text-align: left">Thought the learning curve would be tough.You can limit it and will be comfortable in only a few miles.Just get it! This thing is incredible. I'll be riding around on these for a lifetime.</p>
                      </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                           <div class="feedback">
                        <h4 style="text-align: left;"><strong>Leslie M.</strong></h4>
                        <p style="float: right; text-align: right; font: 14.08px 'auminu-pro'">11/26/2018</p>
                        <p style="float: left; color: #B4B4B4; font-size: 14.08px">Houston, TX</p><br/>
                        <br/><div class="stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <br/>
                        <h3 style="text-align: left"><strong>DO NOT HESITATE</strong></h3>
                        <p style="text-align: left">Thought the learning curve would be tough.You can limit it and will be comfortable in only a few miles.Just get it! This thing is incredible. I'll be riding around on these for a lifetime.</p>
                      </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


<script type="text/javascript">
$('#recipeCarousel').carousel({
  interval: 10000
})

$('.carousel .carousel-item').each(function(){
    var minPerSlide = 3;
    var next = $(this).next();
    if (!next.length) {
    next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
    
    for (var i=0;i<minPerSlide;i++) {
        next=next.next();
        if (!next.length) {
          next = $(this).siblings(':first');
        }
        
        next.children(':first-child').clone().appendTo($(this));
      }
});

</script>


<br/>


<div class="row1" style="padding: 0px; overflow: hidden;  background-color: aliceblue;">
  <div class="column1">
  <img src="https://images.ctfassets.net/axbo81ontyws/3M6sLVxsACBnUh8RyfyJY/8f2035534bdd0c5281c3ed1bcfa228a9/Wired.svg" alt="" style="width:100%;"><br/><p style="text-align: center;">"The gold standard"</p>
  </div>
  <div class="column1">
    <img src="https://images.ctfassets.net/axbo81ontyws/4zeDgDyoFzIJyXIkJSKGCW/8d70ed60d7263b5f3a46d06f87a0ebd7/Time.svg" alt="Forest" style="width:100%;"><br/><p style="text-align: center;">Best Inventions 2018</p>
  </div>
  <div class="column1">
    <img src="https://images.ctfassets.net/axbo81ontyws/6zhTmzQVfqf4HOsa2hb1vs/525df7ce34d83c06c8096b091a43009b/Casey.svg" alt="Mountains" style="width:100%;"><br/><p style="text-align: center;">"Nothing has changed the way I get around<br/> more than owning a Boosted board."</p>
  </div>
  <div class="column1">
    <img src="https://images.ctfassets.net/axbo81ontyws/4bNCPoZoOjjO9kaKOQV8yk/a6ff78e2296f4167a49b101d1644c2d0/BuzzFeed.svg" alt="Mountains" style="width:100%;"><br/><p style="text-align: center;">"I don't have to pay for another mode of<br/>transportation anymore."</p>
  </div>
  <div class="column1">
    <img src="https://images.ctfassets.net/axbo81ontyws/37MEVKorMwxbeFGJF5RaMI/ae0f57f342ac96252c9d02121832f116/TechCrunch.svg" alt="Mountains" style="width:100%;"><br/><p style="text-align: center;">"This board is incredibly fun."</p>
  </div>
</div>
<div>
  <img class="img3" src="assets/ng2.jpg" alt="boosted">
</div>
<br/>
<br/>

<div class="text0">
<h1 style="text-align: center;padding-top: 10px"><strong>READ THE BLOG</strong></h1>
<div id="wrapper" style="margin: 30.08px 0px">
  <div id="outer">
    <div class="itemwrapper">
      <a href="#"><img src="/assets/im1.jpg" alt="bag" ></a>
      <a href="#"><h3 style="color: black; text-align: center;font-size: 14px">RETHINKING HOW YOU GET THERE<br/>Read more</h3></a>
    </div>
    <div class="itemwrapper">
      <a href="#"><img src="/assets/im2.jpg" alt="pen" ></a>
      <a href="#"><h3 style="color: black; text-align: center;font-size: 14px ">WHY ELECTRIC? WHY NOW?<br/>Read more</h3></a>
    </div>
    <div class="itemwrapper">
      <a href="#"><img src="/assets/im3.jpg" alt="bag"></a>
      <a href="#"><h3 style="color: black; text-align: center;font-size: 14px">WHAT MAKES BOOSTED BEST-IN-CLASS?<br/>Read more</h3></a>
    </div>
    <button>VIEW MORE</button>
  </div>
  <button class="home2"><strong>View More posts</strong></button>
</div>
</div>
<br/>
<div class="footertext" style="background-color: black;">
  <div class="text3">
  <h1><strong>RIDE RISK FREE</strong></h1>
    <center><strong>We know you'll love your Boosted board. Ride <br/>today and experience it yourself.</strong></center>
    <br/><br/><br/>
    <div class="text4">
      <h2><strong>FINANCING AVAILABLE</strong></h2>
        <p>You don’t have to break the bank to ride Boosted.<br/> Pay over time with easy, fixed monthly payments.</p>
    </div>
     <div class="text6">
      <h2><strong>30 DAY GUARANTEE</strong></h2>
        <p>Take it for a spin. If you don’t love your Boosted<br/> vehicle, we’ll gladly take it back for a refund (some<br/> restrictions may apply).</p>
    </div>
    <div class="text5">
      <h2><strong>12 MONTH WARRANTY</strong></h2>
        <p>Ride with confidence. We provide full protection<br/> against manufacturing defects.</p>
    </div>
   </div> 
</div>
<div class="image" style="padding-bottom: 10px;">
  <img class="auto5" src="/assets/footer.jpg" width="" height="500" alt="" hspace="20" > 
</div>
<br/><br/><br/><br/>
<div class="footer" style="padding-top: 10px; background-color: #f5f5f5">
  <center><strong>Rethink how you get there.<br/>Ride electric.</strong></center>
  <button>Meet the Family</button>
</div>

<br/>
  

<div class="row">
  <div class="column">
    <ul>
      <li style="font-family: 'acumin-pro-condensed'; font-size: 16px"><strong>COMPANY</strong></li><br/>
      <li style="padding-left:0"><a href="#">Contact Us</a></li><br/>
      <li><a href="#">Press</a></li><br/>
      <li><a href="#">Careers</a></li><br/>
      <li><a href="#">Safety and Compliance</a></li><br/>
      <li><a href="#">Returnings and Warranty</a></li><br/>
    </ul>
  </div>
  <div class="column">
    <ul>
      <li style="font-family: 'acumin-pro-condensed'; font-size: 16px"><strong>EXPLORE</strong></li><br/>
      <li><a href="#">Community</a></li><br/>
      <li><a href="#">Videos</a></li><br/>
      <li><a href="#">Dealer Locator</a></li><br/>
      <li><a href="#">About Us</a></li><br/>
    </ul>
  </div>
  <div class="column">
      <ul>
        <li style="font-family: 'acumin-pro-condensed'; font-size: 16px"><strong>ORDERS</strong></li><br/>
        <li><a href="#">Store</a></li><br/>
        <li><a href="#">Accessories</a></li><br/>
        <li><a href="#">Gift Cards</a></li><br/>
        <li><a href="#">Support</a></li><br/>
    </ul>
</div>
</div>

 <p style="float: right;font: 16px acumin-pro-condensed;padding-top: 50px;"><strong>STAY UP TO DATE ON BOOSTED DEALS</strong></p><br/><br/>
  <form class="example" action="/action_page.php" style="margin:auto;float: right;padding-top: 60px;margin-left: 185px;">
  <input type="text" placeholder="Email" name="search2">
  <button type="submit" style="width:15%;background-color: black;color: white">Subscribe</button>
</form>
    <br/>
<div class="font" style="float: right;padding-top: 150px">
  <i class="fa fa-instagram" style="font-size: 30px"></i>
   <i class="fa fa-facebook" style="font-size: 30px"></i>
    <i class="fa fa-twitter" style="font-size: 30px"></i>
     <i class="fa fa-youtube" style="font-size: 30px"></i>
   </div>






